{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To do list

{% endblock %}


{% block content %}

    <h1>To do list...</h1>


    <article>

        <ul>
            {% for task in tasks %}

                <li>
                    {{ task.name }}
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New Thing...</h3>

        <form action="/add" method="POST">
            <fieldset role="group">
            <input
                type="text"
                name="name"
                placeholder="Name of new thing"
                required
            >

            <input
                type="number"
                name="priority"
                min="1"
                placeholder="Priority (1-5)"
                required
            >
            
            <button>Submit</button>
            </fieldset>
        </form>

    </article>

{% endblock %}

