{#=====================================================
Things list page
- List of things passed in as 'things' array
- Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

To do list

{% endblock %}


{% block content %}

<h1>To do list...</h1>


<article>

    <table>

        <tr>
            <td class="table-title">Priority</td>
            <td class="table-title">Task</td>
            <td class="table-title">Status</td>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.priority}}</td>
            <td>{{task.name}}</td>
            <td>{% if task.status %}
                <a id="complete" href="/incomplete/{{ task.id }}">☑</a>
                {% else %}
                <a id="incomplete" href="/complete/{{ task.id }}">☐</a>
                {% endif %}
            </td>
            <td>
                <form action="/delete/{{ task.id }}" method="post">
                    <button>Delete</button>
                </form>
            </td>
        </tr>
        {% else %}

        <p>None!</p>

        {% endfor %}
    </table>

</article>

<details name="Add items" closed>
    <summary role="button">Add items</summary>
    <article>

        <h3>Add a New task...</h3>

        <form action="/add" method="POST">
            <fieldset role="group">
                <input type="text" name="name" placeholder="Name" required>
                    <input type="number" name="priority" min="1" placeholder="Priority (1-5)" required>
                <button>Submit</button>
            </fieldset>
        </form>

    </article>
</details>





{% endblock %}